<!DOCTYPE html>
<html>
  <head>
    <title>PWA Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      if(!window.Promise) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
      }
    </script>

    <link href="//at.alicdn.com/t/font_890871_oij2akckco8.css" rel="stylesheet">
    <link rel="manifest" href="js/manifest.json">
  </head>
  <body>
    <div id="content"></div>

    <script src='{{ url 'common.js' }}'></script>
    <script src='{{ url 'index.js' }}'></script>
  </body>
</html>